<div class="container-fluid" style="margin-left: -8px; margin-top: -10px;">
  <div class="sidebar" id="sidebar">
    <div>
    <img src="../../assets/images/logo/mppkvvcl.png" alt="" width="40" height="40" style="margin: 10px;">
    <h2 style="padding:20px; background-image: linear-gradient(to right, #011f06, #024b2c); margin-top: -60px; margin-bottom: -1px;">MPWZ LAB REPORTS</h2>
    </div>
    <ul>
      <li  style="border-top: #024b2c 1px solid;" class="list-group-item" data-bs-toggle="collapse" data-bs-target="#User" aria-expanded="false" aria-controls="User">
          <a class="sidebar-link text-white d-flex justify-content-between align-items-center" style="text-decoration: none;">
            Reports Operation
            <i class="fas fa-chevron-down"></i>
          </a>
        </li>
        <div id="User" style="background-image: linear-gradient(to right, #304935, #1d8358);" class="collapse list-group list-group-flush ps-3" data-bs-parent="#accordionSidebar">
          <ul >
          <li>
            <a routerLink="store-generate-reports" style="text-decoration: none; color: inherit;">Generate Report</a>
          </li>
          <li>
            <a routerLink="store-view-reports" style="text-decoration: none; color: inherit;">View Reports</a>
          </li>
          </ul>
        </div>
      <li  style="border-top: #024b2c 1px solid;" class="list-group-item" data-bs-toggle="collapse" data-bs-target="#Admin" aria-expanded="false" aria-controls="User">
          <a class="sidebar-link text-white d-flex justify-content-between align-items-center" style="text-decoration: none;">
            Admin Operation
            <i class="fas fa-chevron-down"></i>
          </a>
        </li>
        <div id="Admin" style="background-image: linear-gradient(to right, #304935, #1d8358);" class="collapse list-group list-group-flush ps-3" data-bs-parent="#accordionSidebar">
          <ul>
          <li>
            <a routerLink="store-add-job-rating" style="text-decoration: none; color: inherit;">Add Job Rating</a>
          </li>
          <li>
            <a routerLink="store-add-ref-standards" style="text-decoration: none; color: inherit;">Add Reference Statndards</a>
          </li>
          <li>
            <a routerLink="store-add-customer-name-addrs" style="text-decoration: none; color: inherit;">Add Customers Info</a>
          </li>
          <li>
            <a routerLink="store-upload-lab-qr" style="text-decoration: none; color: inherit;">Upload Lab Logo</a>
          </li>
          <li>
            <a routerLink="store-add-tester-employee" style="text-decoration: none; color: inherit;">Add Tester/Reviewer</a>
          </li>
          </ul>
        </div>
    </ul>
  </div>    
  <div class="main-content" id="main-content" style="overflow-y: auto;">    
    <div class="header d-flex align-items-center" style="background-color: #01291d; background-image: linear-gradient(to right, #01291d, #059c5d); padding:8px; margin-left: -10px; margin-right: -10px;">  
      <button class="btn btn-dark me-3" style="margin-left: 15px;" type="button" (click)="toggleSidebar()">
          <i class="fas fa-bars"></i>
      </button> 
      <div class="dropdown ms-auto">
        <button class="btn btn-dark dropdown-toggle" style="padding: 5px;background-color: #047e59; background-image: linear-gradient(to right, #01140e, #05f390);" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-user-circle me-1"></i>          
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1"  style="padding: 5px;background-color: #047e59; background-image: linear-gradient(to right, #03573c, #08b96f); color: white; padding-top: 5px; padding-left: 15px; margin-top: 15px;">
          <li ><a class="dropdown-item white" (click)="viewprofile()"><strong style="color: white;">My Profile</strong></a></li>
           <li ><a class="dropdown-item white" (click)="changepassword()"><strong style="color: white;">Change Password</strong></a></li>
          <li><a class="dropdown-item white" (click)="logout()"><strong style="color: white;">Logout</strong></a></li>
        </ul>
      </div>

    </div>  
    <div style="flex-grow: 1; overflow-y: auto;">   
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
