<div class="container-fluid" style="margin-left: -8px; margin-top: -10px;">
  <div class="sidebar" id="sidebar">
    <h2 style="padding:20px; background-image: linear-gradient(to right, #011f06, #024b2c); margin-top: -5px;">STORE REPORTS</h2>
    <ul>
      <li style="border-top: #1a471c 2px solid; margin-top: -30px;">
        <a routerLink="store-generate-reports" style="text-decoration: none; color: inherit;">Generate Report</a>
      </li>
      <li>
        <a routerLink="store-view-reports" style="text-decoration: none; color: inherit;">View Reports</a>
      </li>
    </ul>
  </div>    
  <div class="main-content" id="main-content" style="overflow-y: auto;">    
    <div class="header d-flex align-items-center" style="background-color: #01291d; background-image: linear-gradient(to right, #01291d, #059c5d); padding:28px; margin-left: -10px; margin-right: -10px;">  
      <button class="btn btn-dark me-2" type="button" (click)="toggleSidebar()">
          <i class="fas fa-bars"></i>
      </button> 
    </div>  
    <div style="flex-grow: 1; overflow-y: auto;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
