<div class="login-container">
  <div class="background-split">
    <div class="left-side"></div>
    <div class="right-side"></div>
  </div>
  <div class="login-card">
    <h1>LAB LOGIN</h1>
<form #loginForm="ngForm" class="login-form" (ngSubmit)="onSubmit(loginForm)">
    <input type="text" placeholder="username" name="username" [(ngModel)]="userinfor.username" required />
    <input type="password" placeholder="Password" name="password" [(ngModel)]="userinfor.password" required />
    <div class="options-row">
        <!-- You can add additional options here if needed -->
    </div>
    <button type="submit" class="sign-in-btn">SIGN IN</button>
</form>

            <div *ngIf="respose_msg" class="response-msg">
                {{respose_msg| json}}
            </div>
<br>
  <p style="text-align: center; font-size: 14px; color: #0582f7; padding-top: 15px; margin-bottom: -30px;"><strong style="color: #eb7304;">M.P.P.K.V.V.Co Ltd INDORE</strong> <br> All Rights Reserved.</p>
  </div>
</div>
