<div class="container-fluid mt-2">
  <div class="card shadow">
    <div class="card-header" style="background-color:#059c5d; color: white; font-weight: bold; background-image: linear-gradient(to right, #011f06, #059c5d);">
      <h5 class="mb-0">Change Password</h5>
    </div>
    <div class="card-body" style="background-color: whitesmoke;">
  <form (ngSubmit)="onSubmit()" #changePasswordForm="ngForm">
    <div class="mb-3">
      <label for="oldPassword" class="form-label">Old Password</label>
      <input type="password" id="oldPassword" name="old_password" [(ngModel)]="oldPassword" required class="form-control" placeholder="Enter your old password" />
    </div>
    <div class="mb-3">
      <label for="newPassword" class="form-label">New Password</label>
      <input type="password" id="newPassword" name="new_password" [(ngModel)]="newPassword" required class="form-control" placeholder="Enter your new password" />
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
    <div *ngIf="message" class="alert alert-success">{{ message }}</div>
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  </form>
</div>
</div>
</div>

