<div class="container-fluid mt-2">
  <div class="card shadow">
    <div class="card-header" style="background-color:#059c5d; color: white; font-weight: bold; background-image: linear-gradient(to right, #011f06, #059c5d);">
      <h6 class="mb-0">Add reference standard for testing items</h6>
    </div>
    <div class="card-body" style="background-color: whitesmoke;">
          <form (ngSubmit)="addRefStandard()" #refStandardForm="ngForm" style="background-color: #f8f9fa; border-radius: 5px;">
            <div class="row">
            <div class="col-6">
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="ref_standard_formdata" name="ref_standard_formdata" placeholder="Enter Reference Standard" required />
            </div>
            </div>
            <div class="col-3">
            <div class="form-group">
              <button type="submit" class="btn btn-primary" [disabled]="!refStandardForm.valid">Add Reference Standard</button>
            </div>              
            </div>
            </div>
          </form>
          <div *ngIf="responseMessage" class="alert alert-info mt-2">{{ responseMessage }}</div>
    </div>
  </div>
</div>
<div class="container-fluid mt-3">
  <div class="card shadow">
    <div class="card-header" style="background-color:#059c5d; color: white; font-weight: bold; background-image: linear-gradient(to right, #011f06, #059c5d);">
      <h6 class="mb-0">Reference standards list</h6>
    </div>
    <div class="card-body" style="background-color: whitesmoke;">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Sr. No.</th>
            <th>Reference Standard</th>
            <th>Created By</th>
            <th>Updated By</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let standard of refStandards; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ standard.ref_standard_formdata }}</td>
            <td>{{ standard.created_by }}</td>
            <td>{{ standard.updated_by }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

