<div class="container-fluid mt-2">
  <div class="card shadow">
    <div class="card-header" style="background-color:#059c5d; color: white; font-weight: bold;
      background-image: linear-gradient(to right, #011f06, #059c5d);">
      <h5 class="mb-0">Upload Lab QR Code</h5>
    </div>
    <div class="card-body" style="background-color: whitesmoke;">
    <form (ngSubmit)="onSubmit()" #UploadQRCodeform="ngForm" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="file" class="form-label">Upload QR Code Image</label>
         <input type="file" class="form-control" id="file" name="file" (change)="handleFileInput($event)" required>

        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!selectedFile">Submit</button>
      </form>
    </div>
  </div>
</div>
<br><br>
  <div *ngIf="imageUrl" class="mt-3">
  <label>Uploaded Image Preview:</label><br>
  <img [src]="imageUrl" alt="Uploaded QR" class="img-thumbnail" width="200">
</div>
