<div class="container-fluid mt-2">
  <div class="card shadow">
    <div class="card-header" style="background-color:#059c5d; color: white; font-weight: bold;background-image: linear-gradient(to right, #011f06, #059c5d);">
      <h5 class="mb-0">User  Profile</h5>
    </div>
    <div class="card-body" style="background-color: whitesmoke;">
              <form #userProfileForm="ngForm" (ngSubmit)="onSubmit(userProfileForm)">
                <div class="row">
                  <div class="col-4">
                <div class="form-group">
                  <label for="username"><strong>Username</strong></label>
                  <input type="text" class="form-control" id="username" name="username" [(ngModel)]="userProfile.username" required>
                </div>

                  </div>
                  <div class="col-4">
                <div class="form-group">
                  <label for="tester"><strong>Tester</strong></label>
                  <input type="text" class="form-control" id="tester" name="tester" [(ngModel)]="userProfile.tester" required>
                </div>
                </div>

                <div class="col-4">                  
                <div class="form-group">
                  <label for="reviewer"><strong>Reviewer</strong></label>
                  <input type="text" class="form-control" id="reviewer" name="reviewer" [(ngModel)]="userProfile.reviewer" required>
                </div>
                </div>
                <br><br>
                <div class="row">
                <div class="col-md-12">
                <button type="submit" class="btn btn-primary mt-3">Update</button>
                </div>

                </div>
                </div>
              </form>
    </div>
  </div>
</div>
