<div class="container-fluid mt-2">
  <div class="card shadow">
    <div class="card-header" style="background-color:#059c5d; color: white; font-weight: bold;background-image: linear-gradient(to right, #011f06, #059c5d);">
      <h5 class="mb-0"> Add Job Rating</h5>
    </div>
    <div class="card-body" style="background-color: whitesmoke;">
          <form #dtrcapacityForm="ngForm" (ngSubmit)="onSubmit(dtrcapacityForm)">
            <div class="row">
              <div class="col-6">
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="dtrcapacity.dtr_capacity" name="dtr_capacity" placeholder="Enter DTR Capacity" required>
            </div>
              </div>
              <div class="col-4">
           <div class="form-group">
            <button type="submit" class="btn btn-primary w-100">Add Reference Capacity</button>
           </div>                
              </div>
            </div>
          </form>
    </div>
  </div>
</div>
